Criação de Lead WZ.json
{
  "name": "Criação de Lead WZ",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wz-lead",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1168,
        -80
      ],
      "id": "e85e563b-3266-4b87-b7c3-e20e1c97d59d",
      "name": "Webhook",
      "webhookId": "09e27696-50cd-4f91-9c8b-c975a5d9a5f2"
    },
    {
      "parameters": {
        "functionCode": "// Extrair dados do payload\nconst body = items[0].json.body || items[0].json;\n\n// Construir URL da API Salesforce\nconst instanceUrl = body.sfInstanceUrl || '';\nconst apiUrl = instanceUrl + '/services/data/v58.0/sobjects/Lead';\n\n// Construir headers com token\nconst tokenType = body.sfTokenType || 'Bearer';\nconst accessToken = body.sfAccessToken || '';\n\nconst headers = {\n  'Authorization': tokenType + ' ' + accessToken,\n  'Content-Type': 'application/json'\n};\n\n// Construir payload para Lead\nconst leadData = {\n  FirstName: body.firstName || null,\n  LastName: body.lastName || body.name || 'WhatsApp Lead',\n  Company: body.name || body.company || body.lastName || 'N/A',\n  Phone: body.phone || null,\n  LeadSource: body.leadSource || 'WhatsApp',\n  Description: body.description || '',\n  Website: body.website || null,\n  Industry: body.industry || null,\n  Rating: body.rating || null,\n  Apelido__c: body.apelido || 'BL' // Adicionando o campo Apelido__c\n};\n\n// Preparar item para próximo nó\nitems[0].json.sfUrl = apiUrl;\nitems[0].json.sfHeaders = headers;\nitems[0].json.sfLeadData = leadData;\n\nreturn items;"
      },
      "name": "Prepare Salesforce Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -928,
        -80
      ],
      "id": "16664846-83f7-4bb7-9f70-29459c442b47"
    },
    {
      "parameters": {
        "url": "={{$json.sfUrl}}",
        "method": "POST",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={{JSON.stringify($json.sfHeaders)}}",
        "bodyParametersJson": "={{JSON.stringify($json.sfLeadData)}}"
      },
      "name": "Create Lead in Salesforce",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -656,
        -80
      ],
      "id": "62597344-be0e-4527-8c04-befa28f0ba38"
    },
    {
      "parameters": {
        "functionCode": "// Capturar resposta do Salesforce (sucesso ou erro)\nconst item = items[0].json;\nconst statusCode = item.statusCode || item.status || null;\nconst id = item.id || null;\n\n// Verificar se foi sucesso\nconst success = id !== null && id !== undefined;\n\nlet errorDetails = '';\nlet message = '';\n\nif (success) {\n  message = '\u2705 Lead criado com sucesso! ID: ' + id;\n} else {\n  // Extrair erro do Salesforce\n  const sfErrors = item.body?.[0]?.message || item.message || item.error_description || 'Erro desconhecido';\n  const fieldErrors = item.body?.[0]?.errorCode || item.errorCode || '';\n  \n  errorDetails = sfErrors;\n  if (fieldErrors) {\n    errorDetails = fieldErrors + ': ' + sfErrors;\n  }\n  \n  // Mensagens customizadas por erro\n  if (errorDetails.includes('INVALID_FIELD')) {\n    message = '\u274c Campo inválido ou n\u00e3o existe no Salesforce';\n  } else if (errorDetails.includes('REQUIRED_FIELD_MISSING')) {\n    message = '\u274c Campo obrigat\u00f3rio faltando';\n  } else if (errorDetails.includes('INVALID_CROSS_REFERENCE_KEY')) {\n    message = '\u274c Valor inválido em campo de referência';\n  } else if (statusCode === 401 || errorDetails.includes('INVALID_AUTH')) {\n    message = '\u274c Token inválido ou expirado';\n  } else if (statusCode === 403 || errorDetails.includes('ACCESS_DENIED')) {\n    message = '\u274c Sem permiss\u00e3o para criar Lead';\n  } else {\n    message = '\u274c ' + errorDetails;\n  }\n}\n\nreturn [{\n  json: {\n    success: success,\n    leadId: id,\n    message: message,\n    statusCode: statusCode,\n    errorDetails: errorDetails,\n    errors: item.body || []\n  }\n}];"
      },
      "name": "Handle Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -400,
        -80
      ],
      "id": "7eb8d2d1-db96-4016-b224-6c632befe189"
    },
    {
      "parameters": {
        "functionCode": "// Apenas passar a resposta formatada para o webhook\nreturn items;"
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -200,
        -80
      ],
      "id": "success-response-final"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Salesforce Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Salesforce Request": {
      "main": [
        [
          {
            "node": "Create Lead in Salesforce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead in Salesforce": {
      "main": [
        [
          {
            "node": "Handle Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "42f1812a-c42b-4482-865a-4e850d8912a8",
  "meta": {
    "instanceId": "80d1cb906fee36de5636f3535a3c0b8fcdd79555e74f1d9ffaa22b3be2834492"
  },
  "id": "0wFkbVmA6taBLUFdrxGDk",
  "tags": []
}