n8n-workflow-wz-lead-correto.json
{
  "name": "Criação de Lead WZ (Corrigido)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wz-lead",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "id": "webhook-node",
      "name": "Webhook"
    },
    {
      "parameters": {
        "functionCode": "const body = items[0].json.body || items[0].json;\nconst instanceUrl = body.sfInstanceUrl || '';\nconst apiUrl = instanceUrl + '/services/data/v58.0/sobjects/Lead';\nconst tokenType = body.sfTokenType || 'Bearer';\nconst accessToken = body.sfAccessToken || '';\nconst leadData = {\n  FirstName: body.firstName || null,\n  LastName: body.lastName || body.name || 'WhatsApp Lead',\n  Company: body.name || body.company || body.lastName || 'N/A',\n  Phone: body.phone || null,\n  LeadSource: body.leadSource || 'WhatsApp',\n  Description: body.description || ''\n};\nitems[0].json.sfUrl = apiUrl;\nitems[0].json.sfToken = tokenType + ' ' + accessToken;\nitems[0].json.sfLeadData = leadData;\nreturn items;"
      },
      "name": "Prepare Salesforce Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [550, 300],
      "id": "prepare-node"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.sfUrl}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$json.sfToken}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.sfLeadData)}}"
      },
      "name": "Create Lead in Salesforce",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300],
      "id": "http-node"
    },
    {
      "parameters": {
        "functionCode": "const item = items[0].json;\nconst id = item.id || null;\nconst success = id !== null && id !== undefined;\nlet message = '';\nlet errorDetails = '';\nif (success) {\n  message = '✅ Lead criado com sucesso! ID: ' + id;\n} else {\n  const sfErrors = item.message || item.error_description || JSON.stringify(item);\n  errorDetails = sfErrors;\n  if (sfErrors.includes('REQUIRED_FIELD_MISSING')) {\n    message = '❌ Campo obrigatório faltando';\n  } else if (sfErrors.includes('INVALID_FIELD')) {\n    message = '❌ Campo inválido';\n  } else if (item.statusCode === 401) {\n    message = '❌ Token inválido ou expirado';\n  } else if (item.statusCode === 403) {\n    message = '❌ Sem permissão para criar Lead';\n  } else {\n    message = '❌ ' + sfErrors;\n  }\n}\nreturn [{\n  json: {\n    success: success,\n    leadId: id,\n    message: message,\n    errorDetails: errorDetails,\n    fullResponse: item\n  }\n}];"
      },
      "name": "Handle Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 300],
      "id": "handle-response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Prepare Salesforce Request", "type": "main", "index": 0 }]]
    },
    "Prepare Salesforce Request": {
      "main": [[{ "node": "Create Lead in Salesforce", "type": "main", "index": 0 }]]
    },
    "Create Lead in Salesforce": {
      "main": [[{ "node": "Handle Response", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "availableInMCP": false }
}
